@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --bp-mobile-s: 320px;
    --bp-mobile-m: 375px;
    --bp-mobile-l: 425px;
    --bp-tablet: 768px;
    --bp-laptop: 1024px;
    --bp-desktop: 1440px;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --fs-paragraph: 16px;
    --redhat-display-family: 'Red Hat Display', sans-serif;
}

.attribution {
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin-top: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--redhat-display-family);
}

p {
    font-size: var(--fs-paragraph);
    color: var(--desaturated-blue);
}

body {
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    justify-content: center;
    height: 100vh;
}

main::after {
    display: block;
    background-color: var(--very-pale-blue);
    position: absolute;
    width: 100%;
    height: 100vh;
    content: "";
    z-index: -1;
    opacity: 80%;
    top: 0;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    max-width: var(--bp-mobile-m);
}

.banner {
    width: 100%;
    height: 100%;
}
.banner img {    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overview {
    width: 100%;
    padding: 18px;
}

.overview h2 {
    color: var(--dark-blue);
}

.overview p {
    padding: 10px 20px;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--very-pale-blue);
    border-radius: 5px;
    margin: 8px 0;
}

.info h3 {
    margin: 0;
    color: var(--dark-blue);
}

.info p {
    padding: 0;
}

.action a {
    color: var(--bright-blue);
    text-decoration: none;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.btn {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-proceed {
    background: var(--bright-blue);
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 5px 15px -4px;
}

.btn-cancel {
    background: transparent;
    color: var(--desaturated-blue);
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url('./images//pattern-background-desktop.svg') !important;
        background-repeat: no-repeat;
        background-position: top;
    }
}