@media screen and (min-width: 1024px) {
    body::after {
        top: -95px !important;
        background-image: url('../images/pattern-background-desktop.svg') !important;
    }

    .card {
      max-width: $bp-mobile-l !important;
    }
}
