@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

@import './variable';
@import './desktop';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $redhat-display-family;
}

p {
    font-size: $fs-paragraph;
    color: $desaturated-blue;
}

body {
  padding: 100px 15px;
}

body::after {
    position: fixed;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    z-index: -2;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main::after {
    display: block;
    background-color: $pale-blue;
    position: fixed;
    width: 100%;
    height: 100vh;
    content: "";
    z-index: -1;
    opacity: 75%;
    top: 0;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    max-width: $bp-mobile-m;

    .banner {
        width: 100%;
        height: 100%;
    }
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .overview {
        width: 100%;
        padding: 18px;
        padding-bottom: 25px;

        h1 {
            color: $dark-blue;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        p {
            padding: 15px;
        }
    }

    .payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: $very-pale-blue;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 35px;
        min-height: 90px;

        .info {
          text-align: left;
        }

        .info h2 {
            margin: 0;
            color: $dark-blue;
            font-size: 20px;
        }

        .info p {
            padding: 0;
        }

        .action a {
            color: $bright-blue;
            font-weight: 700;
        }

        .info { width: 55%; }

        .action {
          width: 25%;
        }

        .icon {
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }
        .icon img {
          object-fit: cover;
          object-position: center;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.btn {
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.btn-proceed {
    background: $bright-blue;
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 5px 15px -4px;
}

.btn-cancel {
    background: transparent;
    color: $desaturated-blue;
}
